[user]
  email = 16094597+abhiramiyer@users.noreply.github.com
  name = abhiram
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[alias]
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]'
  ci = commit -v
  cm = commit -m
  co = checkout
  d = diff
  dc = diff --cached
  l = log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30  
  last = log -1 HEAD --stat
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lol = log --oneline
  lolup = log --oneline @{upstream}..HEAD
  lp = log --patch
  lpup = log --patch @{upstream}..HEAD
  rv = remote -v  
  sb = status -sb  
  st = status  
  uc = reset HEAD~1
  ur = reset 'HEAD@{1}'
[branch]
  sort = -committerdate
[commit]
  verbose = true
[core]
  excludesfile = ~/.gitignore
[diff]
  algorithm = histogram
[init]
  defaultBranch = main
[log]
  date = iso
[merge]
  conflictStyle = diff3
  tool = vimdiff
[pull]
  rebase = true
[rebase]
  autoSquash = true
  autoStash = true
[rerere]
  enabled = true
